.article-img{
    width: 250px;
    height: 100%;
    border-bottom-left-radius: 0.25rem!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    

    @media(max-width: 991px){
        width: 100%;
        height: 550px;
        padding-top: 0; 
    }
}

