.navbar-brand{
    font-size: 2rem;
    transition: font-size 0.2s ease-in-out !important;
    -webkit-transition: font-size 0.2s ease-in-out !important;
    -moz-transition: font-size 0.2s ease-in-out !important;
    -o-transition: font-size 0.2s ease-in-out !important;
}