.down-menu{
    position: absolute;
    top: 73px;
    background-color: $escuro2;
    transition: top .2s ease-in-out;
    z-index: 10;
    .btn-group{
        width: 100%;
        
        button{
            flex-basis: 8.33%;
            padding: 0;
            background-color: $escuro2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            @media(max-width: 991px){
                flex-basis: 33.33%
            }
        }
    }
}