// Width & Height and Size
//main
$main-min-height: 1500px;
//Carousel Element
$carousel-element-width: 100%;
$carousel-element-height: 20rem;
$carousel-element-bckgroundSize: 100%;

// Fonts
$font-size-h2-xl: 4rem;
$font-size-h2-sm: 2rem;

//Cores
$branco: #fff;
$escuro1: #333;
$escuro2: #3f4143;
$escuro3: #6c757d;

